{%  extends 'template.html' %}

{% block title %} Tramites {% endblock %}

{% block content %}

<form action="" method="post" class="form-horizontal" role="form" style="margin-left: 30%; margin-right: 30%; margin-top: 5%; margin-bottom: 5%;">
    {% csrf_token %}
    
    {% for field in form %}
    <div class="mb-3 ">
        {{ field.label_tag }} {{ field }} 
        {{ field.errors }}
        {{ field.help_text }}
    </div>
    {% endfor %}
    <input type="submit" value="Submit">
</form>

{% endblock %}


